{% extends "base.html" %}
{% block content %}

<h1>Document List</h1>
    <ol>
        {% if role != "admin" and role != "board" %} 
        <ol>
            {% for doc in current_user.documents %}
            <li>
                <p>File Name: {{ doc.filename }}</p>
                <p>Status: {{ doc.status }}</p>
                <br>
            </li>        
            {% endfor %}
        </ol>    
        {% else %}
        
            {% for user in users %}
            <li>
                {{ user.name }}
                <span class="id">(ID: {{ user.id }})</span>
                <span class="role">(Role: {{ user.role }})</span>
                <ol>
                {% for doc in user.documents %}
                <li>
                    <span>File Name: {{ doc.filename }}. <span>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Status: {{ doc.status }}
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <form action="{{ url_for('update_document_status') }}" method="post" style="display:inline;">
                            <input type="hidden" name="doc_id" value="{{ doc.id }}">
                            <input type="hidden" name="new_status" value="Pending">
                            <button type="submit" class="dropdown-item">Pending</button>
                        </form>
                        <form action="{{ url_for('update_document_status') }}" method="post" style="display:inline;">
                            <input type="hidden" name="doc_id" value="{{ doc.id }}">
                            <input type="hidden" name="new_status" value="Approved">
                            <button type="submit" class="dropdown-item">Approved</button>
                        </form>
                        <form action="{{ url_for('update_document_status') }}" method="post" style="display:inline;">
                            <input type="hidden" name="doc_id" value="{{ doc.id }}">
                            <input type="hidden" name="new_status" value="Denied">
                            <button type="submit" class="dropdown-item">Denied</button>
                        </form>
                        </ul>
                    </div>
                    
                    <br>    
                </li>    
                {% endfor %}
                </ol>
            </li> 
            {% endfor %}

        {% endif %}
    </ol>
{% endblock %}