{% extends "base.html" %}
{% block content %}

    <ol>
        {% if current_user.role != "admin" and current_user.role != "board" %} 
            <br>
            <h3>Request Hours Below: </h3>
            <br>
            <form method="POST" action="{{ url_for('hours_log') }}">
                {# hidden_tag is a CSRF security feature. #}
                {{ form.hidden_tag() }}
                {{ form.activity_name.label }} {{ form.activity_name() }} <br>
                {{ form.date.label }} {{ form.date() }} <br>
                {{ form.start_time.label }} {{ form.start_time() }} <br>
                {{ form.end_time.label }} {{ form.end_time() }} <br>
                {{ form.amount.label }} {{ form.amount() }} <br>
                {{ form.description.label }} {{ form.description() }} <br>
                {{ form.submit() }}
            </form>
            <br> <br>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button"><a class="nav-link" href="{{ url_for('specific_log_hours') }}">VIEW LOGGED HOURS</a></button>
            </div>


        {% else %}
            <!-- display user list which can then be clicked on to display the specific users documents -->
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">NAME</th>
                <th scope="col">ID</th>
                <th scope="col">ROLE</th>
                <th scope="col">HOURS LOG</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% set log_num = loop.index %}
            
                <form action="{{ url_for('specific_log_hours') }}" method="get" style="display:inline;">
                    <tr>
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <td><span class="id">{{ user.name }}</span></td>
                    <td><span class="id">{{ user.id }}</span></td>
                    <td><span class="role">{{ user.role }}</span></td>
                    <td><button type="submit">View Hours</button></td>
                    </tr>
                </form>

            {% endfor %}
            </tbody>
            </table>
        {% endif %}
    </ol>
{% endblock %}