{% extends "base.html" %}
{% block content %}

    {% if current_user.role != "admin" and current_user.role != "board" %} 
        <div id="Auth_Page">
            <div id="Alignment">
                <h3>Request Hours</h3>
                <div id="Inner_Content">
                    <form method="POST" action="{{ url_for('hours_log') }}">
                        {# hidden_tag is a CSRF security feature. #}
                        {{ form.hidden_tag() }}
                        <div> {{ form.activity_name.label }} {{ form.activity_name() }} </div> 
                        <div> {{ form.date.label }} {{ form.date() }} </div>
                        <div>{{ form.start_time.label }} {{ form.start_time() }} </div>
                        <div>{{ form.end_time.label }} {{ form.end_time() }} </div>
                        <div>{{ form.amount.label }} {{ form.amount() }} </div>
                        <div>{{ form.description.label }} {{ form.description() }} </div>
                        <div>{{ form.submit() }}</div>
                        <div> 
                            <a class="btn btn-success" href="{{ url_for('specific_log_hours') }}">VIEW LOGGED HOURS</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        


        {% else %}
            <br>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit"><a class="nav-link" href="{{ url_for('pending_hours') }}">VIEW HOURS PENDING REVIEW</a></button>
            </div>
            <br> 
            <!-- display user list which can then be clicked on to display the specific users documents -->
            <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">NAME</th>
                <th scope="col">ID</th>
                <th scope="col">ROLE</th>
                <th scope="col">HOURS LOG</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% set log_num = loop.index %}
            
                <form action="{{ url_for('specific_log_hours') }}" method="get" style="display:inline;">
                    <tr>
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <td><span class="id">{{ user.name }}</span></td>
                    <td><span class="id">{{ user.id }}</span></td>
                    <td><span class="role">{{ user.role }}</span></td>
                    <td><button type="submit">View Hours</button></td>
                    </tr>
                </form>

            {% endfor %}
            </tbody>
            </table>
        {% endif %}
    
{% endblock %}