{% extends "base.html" %}
{% block content %}
<br>
<h3>Request Hours Below: </h3>
<br>
    <ol>
        {% if role != "admin" and role != "board" %} 
            
            <form method="POST" action="{{ url_for('hours_log') }}">
                {# hidden_tag is a CSRF security feature. #}
                {{ form.hidden_tag() }}
                {{ form.activity_name.label }} {{ form.activity_name() }} <br>
                {{ form.date.label }} {{ form.date() }} <br>
                {{ form.start_time.label }} {{ form.start_time() }} <br>
                {{ form.end_time.label }} {{ form.end_time() }} <br>
                {{ form.amount.label }} {{ form.amount() }} <br>
                {{ form.description.label }} {{ form.description() }} <br>
                {{ form.submit() }}
            </form>
            <br> <br>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="button"><a class="nav-link" href="{{ url_for('specific_log_hours') }}">VIEW LOGGED HOURS</a></button>
            </div>


        {% else %}
            <!-- display user list which can then be clicked on to display the specific users documents -->
            <!-- {% for user in users %}
            <li>
                {{ user.name }}
                <span class="id">(ID: {{ user.id }})</span>
                <span class="role">(Role: {{ user.role }})</span>
                
            </li> 
            {% endfor %} -->

        {% endif %}
    </ol>
{% endblock %}