{% extends "base.html" %}
{% block content %}
<div id="Auth_Page">
  <div id="Alignment">
    <h2>Login</h2>
    <div id="Inner_Content">
      <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}

        <div>
          {{ form.email.label }}
          {{ form.email() }}
        </div>

        <div>
          {{ form.password.label }}
          {{ form.password() }}
        </div>

        <div>
          {{ form.submit() }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
