{% extends "base.html" %}
{% block content %}
<h2> 
    Pending Documents Review
</h2>
<br> 
<table class="table table-hover">
    <thead class = "thead-light">
    <tr>
        <th scope="col">#</th>
        <th scope ="col">User Name</th>
        <th scope="col">Role</th>
        <th scope="col">File Name</th>
        <th scope="col">Doc ID</th>
        <th scope="col">File Description</th>  
        <th scope="col">Status</th>
        <th scope="col">View Document</th>
    </tr>
    </thead>
<tbody>     
{% set ns = namespace(log_num=0) %}
{% for user in users %}

    {% for doc in user.documents %}
        {% if doc.status == "Pending" %}
            {% set ns.log_num = ns.log_num + 1 %}   
            <tr>
                <th scope="row">{{ns.log_num}}</th>
                <td>{{user.name}}</td>
                <td>{{user.role}}</td>
                <td>{{doc.filename}}</td>
                <td>{{doc.id}}</td>
                <td>{{doc.description}}</td>
                <td>{{doc.status}}
                        <div class="btn-group" role="group">
                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <form action="{{ url_for('update_document_status') }}" method="post" style="display:inline;">
                                <input type="hidden" name="doc_id" value="{{ doc.id }}">
                                <input type="hidden" name="new_status" value="Pending">
                                <button type="submit" class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                            <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                                            <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                                            <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                                        </svg>
                                </button>
                            </form>
                            <form action="{{ url_for('update_document_status') }}" method="post" style="display:inline;">
                                <input type="hidden" name="doc_id" value="{{ doc.id }}">
                                <input type="hidden" name="new_status" value="Approved">
                                <button type="submit" class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
                                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                                        </svg>
                                </button>
                            </form>
                            <form action="{{ url_for('update_document_status') }}" method="post" style="display:inline;">
                                <input type="hidden" name="doc_id" value="{{ doc.id }}">
                                <input type="hidden" name="new_status" value="Denied">
                                <button type="submit" class="dropdown-item">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                        </svg>
                                </button>
                            </form>
                            </ul>
                        </div>
                    </td>
                <td>
                    <form action="{{ url_for('view_pdf', doc_id=doc.id) }}" method="get" style="display:inline;">
                        <input type="hidden" name="user_id" value="{{ user.id }}"> 
                        <input type="hidden" name="from_pending" value="{{ true }}"> 
                        <button type="submit">View</button>
                    </form>
                </td>
            </tr>
            
        {% endif %}
    {% endfor %}
{% endfor %}
</tbody>
</table>

<button onclick="window.print()" class="btn btn-primary">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
        <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
        <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
    </svg>
    Print
</button>

{% endblock %}