{% extends "base.html" %}
{% block content %}

<div id="Auth_Page">
  <div id="Alignment">
    <h2>Register</h2>
    <div id="Inner_Content">
      <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div>
          {{ form.name.label }}
          {{ form.name(class="form-control" + (" is-invalid" if form.name.errors else "")) }}
          {% for error in form.name.errors %}
            <small style="color: red;">{{ error }}</small>
          {% endfor %}
        </div>
        <div>
          {{ form.email.label }}
          {{ form.email(class="form-control" + (" is-invalid" if form.email.errors else "")) }}
          {% for error in form.email.errors %}
            <small style="color: red;">{{ error }}</small>
          {% endfor %}
        </div>
        <div>
          {{ form.password.label }}
          {{ form.password(class="form-control" + (" is-invalid" if form.password.errors else "")) }}
          {% for error in form.password.errors %}
            <small style="color: red;">{{ error }}</small>
          {% endfor %}
        </div>
        <div>
          {{ form.confirm_pass.label }}
          {{ form.confirm_pass(class="form-control" + (" is-invalid" if form.confirm_pass.errors else "")) }}
          {% for error in form.confirm_pass.errors %}
            <small style="color: red;">{{ error }}</small>
          {% endfor %}
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <small style="color: red;">{{ message }}</small>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <div>
          {{ form.submit() }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
