{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  {% if current_user.is_authenticated %}
    <p>Hi {{ current_user.name }}! You are a user!</p>

    <p>Please contact a board member to be assigned a role!</p>
  {% else %}
    <div class="alert alert-secondary" role="alert">
    Please login or register!
    </div>
      
  {% endif %}
</div>

<div class="image-container">
  <img src="{{ url_for('static', filename = 'neopte logo.jpeg') }}" alt="Neopte" width="400" height="300">
</div>

{% endblock %}